{% extends "base/base.html" %}
{% load static %}
{% block styles%}

<link rel="stylesheet" href="{% static 'css/eventos.css' %}">
<link rel="stylesheet" href="{% static 'css/eventoCard.css' %}">

{% endblock %}

{% block content %}

<h1>Eventos</h1>

<input type="hidden" id="csrftoken" value="{{csrf_token}}">

<a href="crearEvento"><button>Crear evento</button></a>

<div class="evento-container">

    {% for item in evento %}
    {% include 'components/eventCard.html' with name=item.name id=item.id localidad=item.localidad_id.name %}
    {% endfor %}
    
</div>
    
{% endblock %}

{% block scripts %}

<script src="{% static 'js/boletoGET.js' %}"></script>

{% endblock%}