nav{
    display: flex;
}

nav > div{
    border: solid;
    border-radius: 3px;
    border-color: black;
}

.logo-menu{
    display: flex;
}

.logo-menu > a{
    border: solid;
    border-radius: 1px;
    border-color: red;
}

