{% extends "base/base.html" %}
{% load static %}
{% block styles%}

<link rel="stylesheet" href="{% static 'css/orders.css' %}">

{% endblock %}

{% block content %}
<h1>{{titulo}}</h1>
<h2>Total:{{total_orders}}</h2>
<h2>Payment:{{total_payments}}</h2>
<div class="container">
        {% for item in orders%}
        <div>ID:{{item.id}} TOTAL:{{item.total}}</div>
        {% endfor %}
</div>


<div class="container">
        {% for q in questions %}
        <div>{{q.id}}. {{q.question_text}}</div>
        {% endfor %}
</div>

{% endblock %}

