<div class="evento-item">
    <div>
        <img src="https://img.freepik.com/fotos-premium/foto-3d-mujer-traje-colorido-plumas-coloridas-cabeza_1227606-10209.jpg?w=740">

    </div>
    <div class="card-text">
        <div>
            <div class="titulo">Evento: {{name}}</div>
            <div class="subtitulo">Localidad: {{localidad}}</div>
            <div class="subtitulo">Descripción:</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="centrar-boton">
            <button class="boton-ver-boletos" data-id="{{id}}">Boletos</button>
        
        </div>
    </div>
</div>