<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
    <title>Users</title>
</head>
<body>
    <h1>Burger</h1>
    <div class="container">
            {% for u in users %}
            <div>
                <img src={{u.photo}}>
                <div>name:{{u.name}}</div>
                <div>id:{{u.id}} - age:{{u.age}}</div>
            </div>
            {% endfor %}
    </div>
    
</body>
</html>