.characters_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem; 
    padding: 1rem;
  }
  
.characters_container > div {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
  
.characters_container img {
  width: 50%;
  border-radius: 6px;
  object-fit: cover;
}

.fav{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem; 
  padding: 1rem;
}
