.card {
    display: flex;
    width: 600px; /* o 100%, según tu layout */
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  /* Parte izquierda: imagen */
.card > div:first-child {
    flex: 1;
    background-color: #f0f0f0;
}
  
.card img {
    background-image: url("../imgs/greenPortal.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
  
  /* Parte derecha: datos */
.card > div:last-child {
    padding-left: 10px;
    background-color: #cccccc;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h3, .p{
    margin: 0;
    padding: 0;
}
