.body_container {
  background-color: #0f172a;
  display: flex;
  flex-direction: row;
}

.meal_container{
  background-color: #0f172a;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.search_input{
  background-color: #0f172a;
  color: white;
  border: 1px solid #475569;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 300px;
}

.categories_container{
  color: white;
  font-weight: bolder;
}

.category_card{
  background-color: #0f172a;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s; 
  border: 1px solid #475569;
}

.category_card:hover{
  transform: scale(1.05); 
}
.category_card img{
  width: 100%;
  height: auto;
  border-radius: 1rem;
}