.body_container {
  background-color: #0f172a;
  display: flex;
  flex-direction: row;
}

.meal_container{
  background-color: #0f172a;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.search_input{
  background-color: #0f172a;
  color: white;
  border: 1px solid #475569;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 300px;
}

.categories_container{
  color: white;
  font-weight: bolder;
}

.category_card{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #0f172a;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease; 
  border: 1px solid #475569;
}

.category_card:hover{
  background-color: rgba(223, 208, 0, 0.959);
}

.category_card h3{
  padding-left: 4rem;
}

.category_card img{
  position: absolute;
  translate: -70%;
  width: 100px;
  height: auto;
  border-radius: 1rem;
}